.critical-flex{
  display: flex;
}
.text_center{
    text-align: center!important;
}

div.swiper-button-next:after, div.swiper-button-prev:after {
    font-size: 30px;
}
  /* Optional: Navigation arrow visibility */
 div.swiper-button-prev,
 div.swiper-button-next {
    color: white;
    text-shadow: 0 0 6px rgba(0, 0, 0, 0.5);
    display: block!important;
    z-index: 10;
  }

  .custom-product-card {
    display: block;
    text-align: center;
    text-decoration: none;
    background: #fff;
    transition: transform 0.3s ease;
  }

  .custom-product-card:hover {
    transform: translateY(-4px);
  }

  .custom-product-card {
      display: flex;
      flex-direction: column;
      height: 100%;
      background: #fff;
      border-radius: 12px;
      transition: transform 0.3s ease;
    }

    .custom-product-card__image {
      position: relative;
      width: 100%;
      aspect-ratio: 3 / 4; /* 600x400 proportion */
    }


    .custom-product-card__image img {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      object-fit: cover;
      display: block;
    }
    .custom-card__image img {
      width: 100%;
  }
      .product-card__info > * {
        margin: 0;
    }
    .product-card__info {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        padding: 5px 10px;
    }
    h3.product-card__title {
        font-size: 16px;
        font-weight: 600;
    }
    h4.product-cart__category {
        font-weight: 500;
        color: gray;
        font-size: 18px;
    }
    span.product-card__price {
      color: #000;
  }
      header.header.page-width {
        padding: 0 40px!important;
    }

    .grid-wrapper {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 15px;
      }
    
      .grid-item {
        text-align: center;
        box-shadow: 0 2px 4px rgba(0,0,0,0.1);
        transition: transform 0.2s ease;
        text-decoration: none;
      }
    
      .grid-item:hover {
        transform: translateY(-4px);
      }
    
      .collection-image img {
        width: 100%;
        height: auto;
        aspect-ratio: 1/1;
        object-fit: cover;
    }
    
      h3.custom-collection-title {
        text-align: left;
        padding: 5px 15px;
        margin: 0;
        text-transform: uppercase;
        font-size: 18px;
    }
    span.svg-wrapper svg {
      width: 26px;
      height: 26px;
  }
  details-modal.header__search.custom-header-mobile {
    display: none!important;
}
  
@media screen and (min-width: 1900px) {
  .page-width-full{
      max-width: 1900px;
      margin: 0 auto;
      padding: 0 !important;
}
}

    
@media screen and (max-width: 1024px){
  header.header {
    grid-template-columns: 2fr 1fr 2fr;
}
}
@media screen and (max-width: 786px){
  .custom-header-search-desktop {
    display: none;
}
details-modal.header__search.custom-header-mobile {
  display: block!important;
}
.grid-wrapper {
  grid-template-columns: repeat(2, 1fr);
}
}

@media (max-width: 480px) {
  .grid-wrapper {
    grid-template-columns: 1fr;
  }
}
